@model ResponseModel

<h3 class="text-center">Reset You Password</h3>
<h4 class="text-center">@Model.Message</h4>>
<form method="POST" class="col-12">

    <div  class="form-group">
        <label for="Email" class="requiredField">
            Email<span class="asteriskField">*</span>
        </label>
        <div class="">
            <input type="email"
                   name="Email"
                   class="textinput textInput form-control"
                   placeholder="Enter Email"
                   id="Email">
        </div>
    </div>

    <div id="Phone" class="form-group">
        <label for="id_newPassword" class="requiredField">
            Phone:<span class="asteriskField">*</span>
        </label>
        <div class="">
            <input type="text"
                   name="Phone"
                   placeholder="Enter Phone No."
                   class="textinput textInput form-control"
                   id="Phone">
        </div>
    </div>

    <div id="div_id_newPassword" class="form-group">
        <label for="id_newPassword" class="requiredField">
            New Password<span class="asteriskField">*</span>
        </label>
        <div class="">
            <input type="password"
                   name="NewPassword"
                   maxlength="20"
                   class="textinput textInput form-control"
                   required=""
                   id="NewPassword"
                   placeholder="Enter New Password">
        </div>
    </div>
    <div id="div_id_ConfirmPassword" class="form-group">
        <label for="id_ConfirmPassword" class=" requiredField">
            Confirm Password<span class="asteriskField">*</span>
        </label>
        <div class="">
            <input type="password"
                   name="ConfirmPassword"
                   maxlength="20"
                   class="textinput textInput form-control"
                   required=""
                   id="id_ConfirmPassword">
        </div>
    </div>
    <div>
    </div>
    <button type="submit" class="btn-primary">Save Changes</button>
</form>