@{ }
<div class="text-center">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/assets/images/avatar.jpg" id="icon" alt="User Icon" />
        </div>
        <center>
            <!-- Login Form -->
            <form method="post" onsubmit="return validateForm()">
                <input type="text" id="login" class="form-control col-6" name="Email" placeholder="login">
                <br/>
                <input type="password" id="password" class="form-control col-6" name="Password" placeholder="password">
                <br/>
                <input type="submit" value="Log In">
            </form>
        </center>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <br>
            <a class="underlineHover"  asp-action="ForgetPassword" asp-controller="Auth">Forgot Password?</a>
        </div>

    </div>
</div>
<script>
    function validateForm() {
        // alert("clicked");
        return true;
    }
</script>