@model DropDownModel

<h1>Add Course</h1>

<div class="container jumbotron">

    <form method="post">
        <div class="form-group">
            <label for="ProgramId">Program Name:</label>
            @if (Model != null)
            {
                @Html.DropDownList("ProgramId", Model.DropDownData, "Select Program", new { @class = "select form-control" })
            }


        </div>
        <div class="form-group">
            <label for="subjectName">Subject Name:</label>
            <input type="text" class="form-control" placeholder="ex: MCA"
                   id="subjectName" required name="Title">
            <small id="signupEmailValidation" class="text-danger"></small>

        </div>
        <div class="form-group">
            <label for="subjectCode">Subject Code:</label>
            <input type="text" class="form-control" placeholder="ex: MCA"
                   id="subjectCode" required name="Code">
            <small id="signupEmailValidation" class="text-danger"></small>

        </div>
        <input type="submit" class="btn btn-primary" value="Add" />
    </form>

</div>

