@using Microsoft.AspNetCore.Http
@using AssignmentSubmission.BAL.Constants
@using System.Text.Json
@{
    var x = Context.Session.GetString("ActiveUser");
    ActiveUserModel userData = new ActiveUserModel();
    if (x != null)
    {
        userData = JsonSerializer.Deserialize<ActiveUserModel>(x);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AssignmentSubmission</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AssignmentSubmission</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (string.IsNullOrEmpty(userData.Email))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Registration">Registration</a>
                            </li>
                        }
                        else
                        {

                            @if (userData.Role == Role.Admin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Master" asp-action="GetAllProgram">Manage Program</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Master" asp-action="GetAllCourses">Manage Course</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Master" asp-action="GetAllTeacher">Manage Teachers</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Assignment" asp-action="UploadAssignment">Upload Assignment</a>
                                </li>
                            }
                        }


                    </ul>

                    <ul id="ddlprofile" class="navbar-nav" style="float: right;">
                        @if (!string.IsNullOrEmpty(userData.Email))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle fa-2x"></i>
                                </a>

                                <div class="dropdown-menu " x-placement="bottom-start"
                                     style="position: absolute;will-change: transform;top: auto;left: -117px;"
                                     aria-labelledby="navbarDropdown">
                                    <h6 align="center" id="ddlloginName"></h6>
                                    <h6 align="center" id="ddlloginemail"></h6>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="UserProfile"><i class="fa fa-user"> Profile</i></a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="ResetPassword"><i class="fa fa-cog"> Change Password</i></a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="LogOut"><i class="fa fa-lock"> Logout</i></a>
                                      
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div>
                @if (!string.IsNullOrEmpty(userData.Email))
                {
                    <h6 class="text-white">Welcome: @userData.FirstName</h6>
                }
            </div>
        </nav>
    </header>
    <div class="container" style="min-height:450px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-primary footer text-white font-small special-color-dark pt-4">
       
            <div class="container">

                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                            <i class="fab fa-dribbble fa-2x"> </i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->

            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright  bg-info text-center py-3">
                <a href="#" class="btn text-white text-capitalize">System for Managing Online Submission of Assignment</a>
                <p>Developed  By Vikram</p>
            </div>
            <!-- Copyright -->
        </footer>
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
